{%extends "dashboard/nav.html"%}
{%block content%}
{%if user.is_authenticated%}
<style type="text/css">
  #editor {
    /*display: block;*/
    width: 100%;
    height: 100%;
    border: solid 2px ;
    border-radius: 7px;
    font-size: 3vh;
  }

  .workspce{
    display: grid;
    grid-template-rows: 30vw 15vw ;
    grid-template-columns: 50vw 45vw;
    gap: 2vw;
    margin-left: 2%;
    margin-top: 2%;
  }
  
 #inpu{
  border: solid 2px ;
  border-radius: 7px;
  min-height: 100%;
  min-width: 100%;
 }
 
  #in{
    display: flex;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
  }

  #video-playback{
    border: solid 2px ;
    border-radius: 7px;
    min-height: 100%;
    min-width: 100%;
    background-image: linear-gradient(to right, blue, teal);
    

  }
  #video-recommendations{
    border: solid 2px ;
    border-radius: 7px;
    min-height: 100%;
    min-width: 100%;
    background-image: linear-gradient(to right, red, black);
    display: flex; 
    flex-direction: rows; 
    justify-content: center; 
    align-items: center; 
    gap: 1vh; 
    
  }

  #but {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 3vh;
    margin-left: 50%;
    gap: 20px;
  }



  #ou {
    padding-top: 1vh;
    padding-left: 1vh;
    font: monospace;
  }

  form {
    height: 100%;
    width: 100%;
  }
  img{
    width: 11vw;
  }
  #playlist-card{
  }

  #output {
    margin-left: 2%;
    width: 97%;
    min-height: 20vh;
    border: 1px solid white;
    border-radius: 7px;
  }

  .out {
    background-color: rgb(25, 25, 25);
    padding-top: 1vh;
    padding-left: 1vh;
    height: 6vh;
    width: 100%;
    border-radius: 7px 7px 0px 0px;
    display: block;
  }

  #ou {
    padding-top: 1vh;
    padding-left: 1vh;
    font: monospace;
  }

  iframe{
    width: 100%;
    height: 100%;
  }
</style>

<div class = 'workspce'>

    <div id='video-playback'>
      <iframe src="" frameborder="0" id="rsceview"></iframe>
    
    </div>
    
    <div id="editor"></div>

    <div id='video-recommendations'>
    
      
    {%for v in vids%}
    <div id="playlist-card">
      <a href="#" onclick="return embe('{{ v.id }}')"><img src="{{v.thumbnail_url}}" alt="" id="joy" ></a>
    <p>{{v.title}}</p>
    <script>
      
    </script>
    </div>
    {%endfor%}
    <script>
      function embe(videoId) {
        document.getElementById("rsceview").src = "https://www.youtube.com/embed/" + videoId;
        return false; 
    }
    </script>
    </div>

    <div id="inpu"><textarea name="inp" id="in" >Input here</textarea></div>


</div>


<div id="but"><button id="run" onclick="runCode()" class="btn btn-outline-success btn-lg">RUN</button>
<!--</form>-->
<button id="save" class="btn btn-outline-light btn-lg">SAVE</button>
<button id="generator" class="btn btn-outline-light btn-lg"> Refresh</button>
<button id="run" onclick="docu()" class="btn btn-outline-light btn-lg">DOCS</button>

</div>
<div id="output">
  <div class="out">Output:</div>
  <div id="ou"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.6/ace.js"></script>
<script>let editor = ace.edit("editor", {
    theme: "ace/theme/cobalt",
    mode: "ace/mode/python",
    enableAutoIndent: true,
    copyWithEmptySelection: true
  });</script>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script type="text/javascript">
  function getCodeFromEditor() {
        return editor.getValue();
    }
  function getInput(){

    return document.getElementById('in').value;
  }

         function runCode() {
            var code = editor.getValue();
            var input = getInput();

            console.log(input);
            console.log(code)

            csrftoken  = "{{csrf_token}}"
            $.ajax({
                type: "POST",
                url: "{% url 'runcode'%}", 
                headers: {
                    'X-CSRFToken': csrftoken  
                },
                data: {
                    code: code,
                    input: input,
                    language: 'python' 
                },
                success: function(data) {
                    
                        document.getElementById("ou").innerText = data.result;
                    
                },
                error: function() {
                    document.getElementById("ou").innerText = "Error communicating with the server.";
                }
            });
        };

        async function rep() {
        var a = editor.getValue();
        console.log(a);
        
        try {
            const csrftoken = "{{csrf_token}}"; 
            const response = await fetch("{% url 'sugg' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrftoken
                },
                body: JSON.stringify({ cde: a })
            });

            if (!response.ok) {
                throw new Error("Network response was not ok");
            }

            const data = await response.json();
            updateVideos(data.vids);           
            
        } catch (error) {
            console.error("There was a problem with the fetch operation:", error);
        }
    }
    function updateVideos(videos) {
    const videosContainer = document.getElementById('video-recommendations');
    videosContainer.innerHTML = ''; 
    
    videos.forEach(video => {
      const videoDiv = document.createElement('div'); 
      videosContainer.appendChild(videoDiv);
  
      const img = document.createElement('img');
      img.id = "thumb";
      img.src = video.thumbnail_url;
  
      
      const videoLink = document.createElement('a');
      videoLink.href = 'javascript:void(0);'; 
      videoLink.onclick = function () {
            document.querySelector('#video-playback iframe').src = 'https://www.youtube.com/embed/' + video.id;
        };
      
      videoLink.appendChild(img);
      videoDiv.appendChild(videoLink);
  
      const title = document.createElement('p');
      title.textContent = video.title;
      videoDiv.appendChild(title); 
    });
}
    document.getElementById('generator').addEventListener("click", rep);

    const vi = document.getElementById("joy")
    vi.href  = 'javascript:void(0);'; 
    vi.onclick = function () {
            document.querySelector('#video-playback iframe').src = 'https://www.youtube.com/embed/' + video.id;
        };

  function docu() {
    document.getElementById("rsceview").src = "https://docs.python.org/3/";
  }
 
  

</script>
{%else%}
<style type="text/css">
   #pls {
    display: flex;
    justify-content: center;
    border-radius: 7px;
    border: 1px rgb(230, 230, 230, 1.0);
  }

  .link-body-emphasis {
    border-radius: inherit; /* Inherit border-radius from #pls */
    text-decoration: underline; /* Remove underlining if not desired */
    text-align: center; /* Center text within the link */
    align-items: center;
    margin-top: 40vh;
    
  }
</style>
<div id="pls"><a href="{%url 'login'%}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"> Log In to continue.</a></div>
{%endif%}
{%endblock%}